*{
  font-family: 'Poppins', sans-serif;
}
body {
  margin: 0;
  background-color: rgb(44, 44, 44);
}

#navbar {
  padding-left: 10px;
  padding-right: 10px;
  background-color: none;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  max-height: 10%;
  min-height: 40px;
}

.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid rgb(44, 44, 44);
  border-right: 6px solid aqua;
  border-left: 6px solid aqua;
  border-bottom: 6px solid rgb(44, 44, 44);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  position: fixed;
  left: 50%;
  top: 50%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#navbarButtons button {
  margin-left: 0px;
  padding: 1rem;
  color:rgb(111, 111, 111);
  background-color: rgb(44, 44, 44);
  border: none;
  text-transform:uppercase;
  height: 80px;
  cursor: pointer;

}
#navbarButtons button:hover{
  color:aqua;
  background-color: rgb(35, 35, 35);
  border-bottom: 2px solid aqua;
}
#navbarButtons button:active{
  color:rgb(111, 111, 111);
}

#title {
  height: 80px;
}

#searchBar {
  display: flex;
  color:aqua;
  width: 50%;
  height: 30px;
  border-radius: 5px;
  background-color: rgb(35, 35, 35);
  border: 1px solid rgb(29, 29, 29);
  text-transform: uppercase;
  cursor: pointer;

}
#searchBar:active{
  border: none;
}
@media screen and (max-width: 865px) {
  #searchBar {
    display: none;
  }
}

#routine-view{
    background-color: rgb(44, 44, 44);
    color:rgb(111, 111, 111);
    margin: 5px;
    /* border: solid 2px black; */
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(21, 21, 21);
    padding:10px;
    width: 70%;
    margin-bottom: 20px;
    text-align: center;
    cursor: pointer;
}
#routine-view:active{
  box-shadow: inset 0px 0px 10px rgb(21, 21, 21);
  color:aqua;

}
#DashWrapper{
margin-left: 25rem;
  border: 2px solid
  red;
  width: 45%;
}

