* {
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0;
  background-color: rgb(44, 44, 44);
}

#navbar {
  padding-left: 10px;
  padding-right: 10px;
  background-color: none;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  max-height: 10%;
  min-height: 40px;
  position: sticky;
  position: -webkit-sticky;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 9999;
  background-color: rgb(44, 44, 44);
}

.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid rgb(44, 44, 44);
  border-right: 6px solid aqua;
  border-left: 6px solid aqua;
  border-bottom: 6px solid rgb(44, 44, 44);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  position: fixed;
  left: 50%;
  top: 50%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#home-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#allRoutines {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

#navbarButtons button {
  margin-left: 0px;
  padding: 1rem;
  color: rgb(181, 179, 179);
  background-color: rgb(44, 44, 44);
  border: none;
  text-transform: uppercase;
  height: 80px;
  cursor: pointer;
  transition: 0.5s;
}
#navbarButtons button:hover {
  color: aqua;
  background-color: rgb(35, 35, 35);
  border-bottom: 2px solid aqua;
}
#navbarButtons button:active {
  color: rgb(181, 179, 179);
  background-color: rgb(44, 44, 44);
}


#logoNav {
  height: 80px;
}
#logoDash {
  margin-top: 10px;
  height: 80px;
}
#logoSideBar{
  height: 45px;
  opacity: 70%;
  display: flex;
  justify-content: center;
  position: relative;
  left: 20px;
}
#logoSearch{
  height: 10px;
}
#searchBar {
  display: flex;
  color: aqua;
  width: 600px;
  height: 30px;
  border-radius: 5px;
  background-color: rgb(35, 35, 35);
  border: 1px solid rgb(29, 29, 29);
  text-transform: uppercase;
  cursor: pointer;
}
#searchBar:active {
  border: none;
}
@media screen and (max-width: 1015px) {
  #searchBar {
    display: none;
  }
}


#routine-view {
  background-color: rgb(44, 44, 44);
  color: rgb(181, 179, 179);
  margin: 5px;
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  box-shadow: 0px 0px 10px rgb(21, 21, 21);
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
  cursor: pointer;
  position: relative;
  top: 5px;
}
#routine-view:hover {
  background-color: rgb(35, 35, 35);
  border-left: 2px solid aqua;
  transition: 0.5s;
}
#routine-view:active {
  box-shadow: inset 0px 0px 10px rgb(21, 21, 21);
  color: aqua;
}
#DashWrapper {
  position: sticky;
  position: -webkit-sticky;
  right: 0;
  bottom: 0px;
  top: 92px;
  z-index: 0;
  height: 690px;
  margin-top: 5px;
  margin-left: 3rem;
  border-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  box-shadow: 0px 0px 10px rgb(21, 21, 21);
  clip-path: inset(-10px 0px -10px -10px);
  background-color: rgb(44, 44, 44);
  color: rgb(181, 179, 179);
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
  cursor: pointer;
}
#Dashboard{
  margin: 1rem;
}
.loginPageBox{
  display: flex;
  justify-content: center;
}
.loginPage{
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgb(21, 21, 21);
  background-color: rgb(44, 44, 44);
  color: rgb(181, 179, 179);
  width: 30%;
  margin-bottom: 20px;
  text-align: center;
  cursor: pointer;
}
.submitBtn{
  background-color: rgb(44, 44, 44);
  color: rgb(181, 179, 179);
  margin-top: 10px;
  border: none;
  height: 30px;
  text-transform: uppercase;
  font-size: large;
  cursor: pointer;
}
.submitBtn:hover {
  color: aqua;
  background-color: rgb(44, 44, 44);
  border-bottom: 2px solid aqua;
  transition: 0.5s;
}
.submitBtn:active {
  color: rgb(181, 179, 179);
}
.registerLink{
  color: rgb(181, 179, 179);
  text-decoration: none;
}
.registerLink:hover {
  color: aqua;
  background-color: rgb(44, 44, 44);
  border-bottom: 2px solid aqua;
  transition: 0.5s;
}
.registerLink:active {
  color: rgb(181, 179, 179);
}
#dashButtonWrapper{
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  height: 690px;
  border-left: 1px solid rgb(61, 61, 61);
  border-top: 1px solid rgb(61, 61, 61);
  box-shadow: 0px 0px 10px rgb(21, 21, 21);
  clip-path: inset(-10px 0px -10px 0px);
  position: sticky;
  position: -webkit-sticky;
  right: 0;
  bottom: 0;
  top: 92px;
  z-index: 9999;
  margin-top: 5px;
}
#dashboardButtons button{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 0px;
  margin-right: 5px;
  padding: 1rem;
  color: rgb(181, 179, 179);
  background-color: rgb(44, 44, 44);
  border: none;
  text-transform: uppercase;
  height: 160px;
  width: 80px;
  text-decoration:underline rgb(44, 44, 44);
  cursor: pointer;
  transition: 0.5s;
}

#dashboardButtons button:hover {
  color: aqua;
  background-color: rgb(35, 35, 35);
  text-decoration:underline rgb(35, 35, 35);
  border-left: 1px solid rgb(44, 44, 44);
  font-size: 40px;
  border-right: 2px solid aqua;
}
#dashboardButtons button:active {
  color: rgb(181, 179, 179);
}
#dashBoardFeed{
  border: 1px solid rgb(61, 61, 61);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 400px;
  margin-right: 20px;
  margin-left: 20px;
  overflow: scroll;
}
#dashBoardFeed::-webkit-scrollbar{
  display: none;
}
#newRoutineFormBox{
  border: 1px solid gray;
  display: flex;
  justify-content: center;
  width: max-content;
  padding: 2rem;

}

#dash-view{
  background-color: rgb(44, 44, 44);
  color: rgb(181, 179, 179);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 10px;
  width:auto;
  margin-right: 5px;
  text-align: center;
  cursor: pointer;
  position: relative;
  top: 5px;
}
#dash-view:hover {
    background-color: rgb(35, 35, 35);
    border-right: 2px solid aqua;
    transition: 0.5s;
  }
  #dash-view:active {
    box-shadow: inset 0px 0px 10px rgb(21, 21, 21);
    color: aqua;
  }
#activity-view{
  background-color: rgb(44, 44, 44);
  color: rgb(181, 179, 179);
  margin: 5px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  box-shadow: 0px 0px 10px rgb(21, 21, 21);
  padding: 10px;
  width:98%;
  margin-bottom: 20px;
  text-align: center;
  cursor: pointer;
}
#activity-view:hover {
    background-color: rgb(35, 35, 35);
    border-bottom: 2px solid aqua;
    transition: 0.5s;
  }
  #activity-view:active {
    box-shadow: inset 0px 0px 10px rgb(21, 21, 21);
    color: aqua;
  }
  #activity-title{
    text-align: center;
    margin-left: 35px;
    color: rgb(181,179,179);
    text-transform: uppercase;
    text-decoration: solid underline;
  }
  